.admin-dashboard-container {
  padding: 30px;
  background-color: #1f1f2e;
  color: #fff;
}

.dashboard-title {
  text-align: center;
  color: #00e6e6;
  margin-bottom: 30px;
}

.dashboard-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.dashboard-card {
  flex: 1;
  min-width: 300px;
  background-color: #2e3240;
  padding: 20px;
  border-radius: 10px;
  max-height: 80vh;
  overflow-y: auto;
}

.count {
  background-color: #00e6e6;
  color: #000;
  padding: 3px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.item-list {
  list-style: none;
  padding: 0;
}

.trainer-item,
.request-item {
  border-bottom: 1px solid #444;
  padding: 10px 0;
}

.actions button {
  margin-right: 8px;
  background: #00e6e6;
  border: none;
  color: #000;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.actions button:hover {
  background: #00cccc;
}
.request-item button {
  margin-top: 5px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.request-item button:hover {
  background-color: #d93636;
}
