.request-container {
  padding: 40px 20px;
  background: linear-gradient(to right, #1f1f2e, #2c2e3d);
  min-height: 100vh;
  color: white;
}

.form-box {
  max-width: 600px;
  margin: auto;
  background-color: #2e3240;
  padding: 30px;
  border-radius: 10px;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #00e6e6;
}

.form-box input,
.form-box select,
.form-box textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

.form-box textarea {
  height: 100px;
  resize: none;
}

.form-box button {
  background-color: #00e6e6;
  color: #000;
  font-weight: bold;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
