/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e2f;
  color: #fff;
  padding: 10px 20px;
  flex-wrap: wrap;
  position: relative;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.4rem;
  color: #00e6e6;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: #00e6e6;
}

.navbar-right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #fff;
    background-color: #00e6e6;

  transition: color 0.3s;
}

.nav-link:hover {
   background-color: #000;
  color: #00e6e6;
}

.nav-button {
  background-color: #00e6e6;
  color: #000;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar-right {
    display: none;
    flex-direction: column;
    background-color: #2e3240;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 20px;
    z-index: 1000;
  }

  .navbar-right.active {
    display: flex;
  }

  .nav-link,
  .nav-button {
    margin-bottom: 10px;
  }
}
